<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h2>Welcome to Home page</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum similique ratione aliquid, magni quia animi odit alias perferendis corporis in harum illum ea tenetur voluptates quae repudiandae ipsam. Nobis, itaque?</p>

    <div>
        variable value : {{string}}
    </div>
    
</body>
</html>